stages:
  - static_code_analysis
  - tests
  - build
  - deploy

workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_IID'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH || $CI_COMMIT_TAG'

variables:
  PACKAGES_TO_CHECK: "schemas/ tests/"
  # colors:
  TXT_BLUE: "\e[1;34m"
  TXT_CLEAR: "\e[0m"

  # Set to "true" to run poetry update and test with latest dependency versions
  TEST_WITH_LATEST_DEPENDENCIES: "false"
  STATIC_ANALYSIS_WITH_LATEST_DEPENDENCIES: "false"

include:
  - project: 'hive/common-ci-configuration'
    # This should be the same version of Common CI defined in /hive/scripts/ci-helpers/prepare_data_image_job.yml
    ref: f8e1b42621babbd8df2e6e197ecb598cfb9b228e
    file: '/templates/python_projects.gitlab-ci.yml'

image: ${PYTHON_IMAGE}

default:
  tags:
    - public-runner-docker

verify_poetry_lock_stability:
  stage: static_code_analysis
  extends: .verify_poetry_lock_stability_template
  tags:
    - public-runner-docker

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| STATIC CODE ANALYSIS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

pre_commit_checks:
  stage: static_code_analysis
  extends: .pre_commit_checks_template
  before_script:
    - !reference [.project_develop_configuration_template, before_script]
    - !reference [.update_deps_for_static_analysis, script]

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| STATIC CODE ANALYSIS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| TESTS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

tests:
  stage: tests
  extends: .project_develop_configuration_template
  before_script:
    - !reference [.project_develop_configuration_template, before_script]
    - !reference [.update_deps_for_tests, script]
  needs: [ ]  # to start immediately, without waiting for previous stages
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.12", "3.14"]
  script:
    - pytest tests/

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| TESTS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| BUILD |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

build_wheel:
  stage: build
  extends: .build_wheel_template

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| BUILD |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| DEPLOY |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.deploy_wheel_needs: &deploy_wheel_needs
  needs:
    - job: pre_commit_checks
    - job: tests
    - job: build_wheel
      artifacts: true

deploy_wheel_to_gitlab:
  stage: deploy
  extends: .deploy_wheel_to_gitlab_template
  <<: *deploy_wheel_needs
  when: on_success

deploy_wheel_to_pypi:
  extends: .deploy_wheel_to_pypi_template
  stage: deploy
  <<: *deploy_wheel_needs

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| DEPLOY |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
