stages:
  - static_code_analysis
  - tests
  - build
  - deploy

variables:
  PACKAGES_TO_CHECK: "schemas/ tests/"
  # colors:
  TXT_BLUE: "\e[1;34m"
  TXT_CLEAR: "\e[0m"

  # Override Python image to use Python 3.14
  # uses registry.gitlab.syncad.com/hive/hive/ci-base-image:ubuntu24.04-py3.14-1
  PYTHON_IMAGE_TAG: ":ubuntu24.04-py3.14-1"
  PYTHON_IMAGE: "registry.gitlab.syncad.com/hive/hive/ci-base-image${PYTHON_IMAGE_TAG}"

include:
  - project: 'hive/common-ci-configuration'
    # This should be the same version of Common CI defined in /hive/scripts/ci-helpers/prepare_data_image_job.yml
    ref: fccc10fc5c8b847d82ca7446c957caa49a7440f6
    file: '/templates/python_projects.gitlab-ci.yml'

image: ${PYTHON_IMAGE}

default:
  tags:
    - public-runner-docker

# Override before_script to regenerate poetry.lock for Python 3.14 compatibility
.regenerate_lock_before_script:
  before_script:
    - echo "Using Python project directory - ${PYPROJECT_DIR}"
    - poetry -C "${PYPROJECT_DIR}" env use python3
    - source $(poetry -C "${PYPROJECT_DIR}" env info --path)/bin/activate
    - python3 -V
    - poetry -C "${PYPROJECT_DIR}" -V
    - pip list
    - poetry -C "${PYPROJECT_DIR}" lock --no-update 2>/dev/null || poetry -C "${PYPROJECT_DIR}" lock
    - poetry -C "${PYPROJECT_DIR}" install
    - pip list

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| STATIC CODE ANALYSIS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

pre_commit_checks:
  stage: static_code_analysis
  extends:
    - .pre_commit_checks_template
    - .regenerate_lock_before_script

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| STATIC CODE ANALYSIS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| TESTS |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

tests:
  stage: tests
  extends:
    - .project_develop_configuration_template
    - .regenerate_lock_before_script
  needs: [ ]  # to start immediately, without waiting for previous stages
  script:
    - pytest tests/

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| TESTS |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| BUILD |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

build_wheel:
  stage: build
  extends:
    - .build_wheel_template
    - .regenerate_lock_before_script

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| BUILD |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| DEPLOY |>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.deploy_wheel_needs: &deploy_wheel_needs
  needs:
    - job: pre_commit_checks
    - job: tests
    - job: build_wheel
      artifacts: true

deploy_wheel_to_gitlab:
  stage: deploy
  extends: .deploy_wheel_to_gitlab_template
  <<: *deploy_wheel_needs
  when: on_success

deploy_wheel_to_pypi:
  extends: .deploy_wheel_to_pypi_template
  stage: deploy
  <<: *deploy_wheel_needs

#<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<| DEPLOY |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
